<nav class="navbar navbar-expand-lg navbar-light bg-info" *ngIf="auth">
    <a class="navbar-brand" [routerLink]="['/home']">MB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/books']">Books</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/authors']">Authors</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="#"><button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button></a>
        </form>
    </div>
</nav>